################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualisationDemo/bin/Debug
/VisualisationDemo/obj/Debug
/.vs/VisualisationDemo/v15/.suo
/.vs/VisualisationDemo/v14/.suo
